<%= form_with scope: :book, url: book_path, method: :put, local: true do |form| %>
  <%= @book.errors.to_a %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
    
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
    
  <p>
    <%= form.submit "Edit" %>
  </p>
<% end %>

<span class ='btn btn-outline-primary'><%= link_to 'All Books', books_path %></span>
<%if current_user.user_type == "author" %>
	<span class ='btn btn-outline-primary'><%= link_to 'Your books', author_books_path %></span>
<%end%>