<% if user_signed_in? %>
    <span>Привіт, <%= current_user.email %></span>
    <%= link_to 'Вийти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Ввійти', new_user_session_path %> або <%= link_to 'Зареєструватись', new_user_registration_path %>
<% end %>

<h1>Library Of Life</h1>

<%= form_tag books_path, :method => 'get' do %>
	<%= text_field_tag :search, params[:search]%>
	<%= submit_tag "Search" %>
<% end %>

<table>
	<thread>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th colspan ="3"></th>
		</tr>
	</thread>

	<tbody>
		<% @book.each do |book| %>
			<tr>
			<td><%= book.title %></td>
			<td><%= book.description %></td>
			<td><%= link_to 'Show', book %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%if current_user.user_type == "author" %>
<%= link_to 'Your books', books_author_path %>
<%end%>
