<h1> Book </h1>

<% flash.each do |name, msg| %>
  <strong><%= msg %></strong>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<%= link_to "Back", books_path %>
<%= link_to "Edit", edit_book_path(@book) %>
